<div *ngIf="loadingPercent < 100">
    <mat-progress-bar [value]="loadingPercent" mode="determinate"></mat-progress-bar>
    <h6 class="mt-2 text-center">Loading...</h6>
</div>
<div *ngIf="loadingPercent === 100">
    <h1 class="text-center">{{ usersDivision.name }}</h1>
    <h2 class="text-center">Leaderboard</h2>

    <div class="row mt-3">
        <div class="col-4">
            <h3 class="headings">Competitor</h3>
        </div>
        <div class="col-4 text-center">
            <h3 class="headings">Complete</h3>
        </div>
        <div class="col-4 text-center">
            <h3 class="headings">Score</h3>
        </div>
    </div>
    <div *ngFor="let participant of divisionParticipants; let i = index" class="row">
        <div class="col-4">
            <div>{{ (i+1) + '. ' + participant.fullName }}</div>
        </div>
        <div class="col-4 text-center">
            <div>{{ getHoleComplete(participant) }}</div>
        </div>
        <div class="col-4 text-center">
            <div>{{ participant.score > 0 ? '+' + participant.score : participant.score === 0 ? 'Even' : participant.score }}</div>
        </div>
    </div>
</div>
