<div *ngIf="loadingPercent < 100">
    <mat-progress-bar [value]="loadingPercent" mode="determinate"></mat-progress-bar>
    <h6 class="mt-2 text-center">Loading...</h6>
</div>
<div *ngIf="loadingPercent === 100">
    <h1 class="text-center">{{ usersDivision.name }}</h1>
    <h2 class="text-center">Leaderboard</h2>

    <div class="row mt-2">
        <div class="col-6">
            <h3 class="headings">Competitor</h3>
        </div>
        <div class="col-3 text-center">
            <h3 class="headings">Thru</h3>
        </div>
        <div class="col-3 text-center">
            <h3 class="headings">Score</h3>
        </div>
    </div>
    <div *ngFor="let participant of getParticipants(); let i = index" class="row" style="border-bottom: 1px solid rgb(236, 236, 236); padding:5px;">
        <div class="col-6">
            <div *ngIf="scoringType === 'individual'">{{(i+1) + '. ' + participant.fullName }}</div>
                <div *ngIf="scoringType === 'team'">{{ (i+1) + '. ' + participant.teamMembers[0].fullName }}</div>
                <div *ngIf="scoringType === 'team'">{{ participant.teamMembers[1].fullName }}</div>
            
        </div>
        <div class="col-3 text-center flex-center">
            <div>{{ getTotalHolesComplete(participant) }}</div>
        </div>
        <div class="col-3 text-center flex-center">
            <div>{{ participant.score > 0 ? '+' + participant.score : participant.score === 0 ? 'Even' : participant.score}}</div>
        </div>
    </div>
</div>
