
<main class="container pb-5">

    <h1 class="mt-3 mb-3">Admin Scoring</h1>
    
    <div *ngIf="loadingPercent < 100">
        <mat-progress-bar [value]="loadingPercent" mode="determinate"></mat-progress-bar>
        <h6 class="mt-2 text-center">Loading...</h6>
    </div>
    <div *ngIf="loadingPercent === 100">
        
        <div *ngIf="validPassword === false">
            <mat-form-field appearance="outline">
                <mat-label>{{ event.qualifyingRound ? event.qualifyingRound : 'Event' }}</mat-label>
                <mat-select (selectionChange)="onEventSelected()" [(ngModel)]="event">
                    <mat-option [value]="event" *ngFor="let event of events">{{ event.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p>Please enter the password for the event.</p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" #passInput>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="onSubmitPassword(passInput.value)">Submit</button>
        </div>

        <div *ngIf="validPassword === true">
            <mat-form-field appearance="outline">
                <mat-label>{{ event.qualifyingRound ? event.qualifyingRound : 'Event' }}</mat-label>
                <mat-select (selectionChange)="onEventSelected()" [(ngModel)]="event">
                    <mat-option [value]="event" *ngFor="let event of events">{{ event.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Division</mat-label>
                <mat-select (selectionChange)="onDivisionSelected()" [(ngModel)]="divisionSelected">
                    <mat-option [value]="division" *ngFor="let division of event.divisionList">{{ division.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    
        <div class="table-container" *ngIf="divisionSelected">
   
            <p class="hover-link" (click)="showProblems(problemDialog)">{{ checkNumIssues() }} issues found.</p>
            <table mat-table [dataSource]="getDatasource()" class="mat-elevation-z4">
                <ng-container sticky [matColumnDef]="'hole'">
                    <th class="text-left" sticky mat-header-cell *matHeaderCellDef>Hole</th> 
                </ng-container>
                <ng-container *ngFor="let hole of scorecard.scorecardHoles" [matColumnDef]="'h'+hole.no">
                    <th class="firstNum" mat-header-cell *matHeaderCellDef>{{ hole.no }}</th>    
                </ng-container>
                <ng-container [matColumnDef]="'total'">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>Total</th> 
                </ng-container>
                <ng-container sticky [matColumnDef]="'par'">
                    <th class="text-left"  mat-header-cell *matHeaderCellDef>Par</th> 
                </ng-container>
                <ng-container [matColumnDef]="'front'">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>Front</th> 
                </ng-container>
                <ng-container [matColumnDef]="'back'">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>Back</th> 
                </ng-container>
                <ng-container [matColumnDef]="'playoff'">
                    <th colspan="2" class="text-center" mat-header-cell *matHeaderCellDef>Won Playoff?</th> 
                </ng-container>
                <ng-container [matColumnDef]="'frontParTotal'">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>{{ getFrontParTotal() }}</th> 
                </ng-container>
                <ng-container [matColumnDef]="'backParTotal'">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>{{ getBackParTotal() }}</th> 
                </ng-container>
                <ng-container *ngFor="let hole of scorecard.scorecardHoles" [matColumnDef]="'p'+hole.no">
                    <th class="firstNum" mat-header-cell *matHeaderCellDef>{{ hole.par }}</th>    
                </ng-container>
                <ng-container [matColumnDef]="'parTotal'">
                    <th class="text-center" mat-header-cell *matHeaderCellDef>{{ getParTotal() }}</th> 
                </ng-container>
                <div *ngFor="let column of columns">
                    <ng-container *ngIf="column === 'name'" sticky [matColumnDef]="column">
                        <td mat-cell *matCellDef="let participant; let i = index;" class="name-col" (click)="editScores(participant, optionsDialog)">
                            <div class="row">
                                <div class="col-2">
                                    <div>{{ getPos(participant) }}</div>
                                    <mat-icon *ngIf="hasOfficialScores(participant) === true" style="color:green;">done</mat-icon>
                                </div>
                                <div class="col-10">
                                    <div *ngIf="scoringType === 'individual'">{{ participant.fullName }}</div>
                                    <div *ngIf="scoringType === 'team'">{{ participant.teamMembers[0].fullName }}</div>
                                    <div *ngIf="scoringType === 'team'">&nbsp;&nbsp;&nbsp; {{ participant.teamMembers[1].fullName }}</div>
                                    <p style="color:red;" *ngIf="+participant.groupParticipantId === 0" >
                                        * Not grouped
                                    </p>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="column === 'totalScore'" [matColumnDef]="column">
                        <td class="text-center total-col" mat-cell *matCellDef="let participant">
                            {{ participant.total > 0 ? '+' + participant.total : participant.total === 0 ? 'E' : participant.total }}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="column !== 'name' && column !== 'totalScore' && column !== 'backPlayerTotal' && column !== 'frontPlayerTotal' && column !== 'playoffCheck'" [matColumnDef]="column">
                        <td class="firstNum" mat-cell *matCellDef="let participant">
                            {{ column === 'name' ? participant.fullName : getHoleScore(participant, column) }}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="column === 'backPlayerTotal'" [matColumnDef]="column">
                        <td class="text-center back-col" mat-cell *matCellDef="let participant">{{ participant.backScore }}</td>
                    </ng-container>
                    <ng-container *ngIf="column === 'frontPlayerTotal'" [matColumnDef]="column">
                        <td class="text-center front-col" mat-cell *matCellDef="let participant">{{ participant.frontScore }}</td>
                    </ng-container>
                    <ng-container *ngIf="column === 'playoffCheck'" [matColumnDef]="column">
                        <td class="text-center" mat-cell *matCellDef="let participant">
                            <mat-checkbox (change)="onPlayoffToggle($event, participant)" [checked]="participant.wonPlayoff === '1'"></mat-checkbox>
                        </td>
                    </ng-container>
                    
                </div>
                <tr class="dark-bkg" mat-header-row *matHeaderRowDef="holeColumns"></tr>
                <tr class="light-bkg" mat-header-row *matHeaderRowDef="parColumns"></tr>
                <tr class="clickable" mat-row *matRowDef="let participant; let i = index; columns: columns;" [style.borderBottom]="(i+1) === +divisionSelected.cutLine ? '3px solid #107896' : ''"></tr>
            </table>
            <p>
                <mat-icon style="color:green;">done</mat-icon>Official scores
            </p>
        </div>
        
    </div>

    <!--Dialog to view fix problems with duplicate hole scores-->
    <ng-template let-data #problemDialog>
        <h3 mat-dialog-title>{{ data.length }} Problems (duplicate hole scores)</h3>
        <mat-dialog-content>
            <div class="row full-width">
                <div class="col-6">
                    <h6>Name</h6>
                </div>
                <div class="col-2">
                    <h6>H #</h6>
                </div>
                <div class="col-2">
                    <h6>Scr</h6>
                </div>
                <div class="col-2">
                    <h6>Del</h6>
                </div>
            </div>
            <div *ngFor="let problem of data">
                <div class="row full-width" *ngFor="let holeScore of problem.holeScores">
                    <div class="col-6">{{ problem.participant.fullName }}</div>
                    <div class="col-2">{{ holeScore.hole }}</div>
                    <div class="col-2">{{ holeScore.score }}</div>
                    <div class="col-2">
                        <mat-icon (click)="deleteDuplicateScore(holeScore, problem.participant)">delete</mat-icon>
                    </div>
                </div>
                <hr>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button (click)="close()" mat-raised-button color="primary">Cancel</button>
        </mat-dialog-actions>
    </ng-template>

    <!--Dialog to edit the partipants scores-->
    <ng-template let-data #editDialog>
        <h3 mat-dialog-title>{{ 'Editing ' + getPlayersNames(data) + 's Scores' }}</h3>
        <mat-dialog-content>
            <div class="row" style="width:100%;">
                <div class="col-4" *ngFor="let holeScore of data.holeScores; let i = index">
                    <mat-form-field appearance="outline" style="width:99%">
                        <mat-label># {{ holeScore.hole }}</mat-label>
                        <input #scoreInputs (input)="onScoreEnter(i)" [(ngModel)]="holeScore.score" matInput>
                    </mat-form-field>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button (click)="saveScores(data)" mat-raised-button color="primary">Save Changes</button>
            <button (click)="close()" mat-raised-button color="primary">Cancel</button>
        </mat-dialog-actions>
    </ng-template>

    <!--Dialog to make scores official OR select editing-->
    <ng-template let-data #optionsDialog>
        <h3 mat-dialog-title>{{ getPlayersNames(data) + 's Scores' }}</h3>
        <mat-dialog-content>
            <button class="full-width" (click)="showEdit(data, editDialog)" mat-raised-button color="primary">Edit Scores</button>
            <hr>
            <button class="full-width" *ngIf="hasOfficialScores(data) === false" mat-raised-button color="primary" (click)="makeScoresOfficial(data, 1)">Make Scores Official</button>
            <button class="full-width" *ngIf="hasOfficialScores(data) === true" mat-raised-button color="primary" (click)="makeScoresOfficial(data, 0)">Revert Back to Unofficial</button>
            <hr>
            <button class="full-width" (click)="showEdit(data, deleteDialog)" mat-raised-button color="primary">Delete Scores</button>
            <hr>
            <button class="full-width" (click)="close()" mat-raised-button color="primary">Cancel</button>
        </mat-dialog-content>
    </ng-template>

    <!--Dialog to delete the partipants scores-->
    <ng-template let-data #deleteDialog>
        <h3 mat-dialog-title>{{ 'All Hole Scores for ' + getPlayersNames(data) }}</h3>
        <mat-dialog-content>
            <div class="row" style="width:100%;">
                <div class="col-4">Hole #</div>
                <div class="col-4 text-center">Score</div>
                <div class="col-4 text-center">Delete</div>
            </div>
            <div class="row" *ngFor="let holeScore of data.holeScores; let i = index" style="width:100%;">
                <div class="col-4">{{ holeScore.hole }}</div>
                <div class="col-4 text-center">{{ holeScore.score }}</div>
                <div class="col-4 text-center" (click)="deleteHoleScore(data, holeScore.id)"><mat-icon>delete_forever</mat-icon></div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button (click)="close()" mat-raised-button color="primary">Done</button>
        </mat-dialog-actions>
    </ng-template>
    

</main>