<div class="container">

  <div class="row">
    <div class="col-4 pr-0 text-center">
      <mat-form-field appearance="outline" style="margin: auto; width:100%;">
        <mat-label>
          Hole
        </mat-label>
        <mat-select [(ngModel)]="holeSelected" (selectionChange)="onHoleChange()">
          <mat-option *ngFor="let hole of holes" [value]="hole">{{ hole }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4 text-center">
      <div style="width:100%; margin-top:20px;">
        <div class="par-text">Par {{ getPar(holeSelected) }}</div>
      </div>
    </div>
    <div class="col-4 pl-0 text-center">
      <mat-form-field appearance="outline" style="margin: auto; width:100%;">
        <mat-label>
          Match Starts At
        </mat-label>
        <mat-select [(ngModel)]="startHoleSelected">
          <mat-option *ngFor="let hole of holes" [value]="hole">{{ hole }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="loading === false">
    <div class="col-4 pr-0">
      <div class="col-titles">Player</div>
      <div [class.active-player]="isActivePlayer(group.player1id)" *ngIf="group.player1id"
        (click)="activePlayerId = group.player1id; activePlayerNumber = 1" class="result-rows-left">{{ group.player1nickname }}</div>
      <div [class.active-player]="isActivePlayer(group.player2id)" *ngIf="group.player2id"
        (click)="activePlayerId = group.player2id; activePlayerNumber = 2" class="result-rows-left">{{ group.player2nickname }}</div>
      <div [class.active-player]="isActivePlayer(group.player3id)" *ngIf="group.player3id"
        (click)="activePlayerId = group.player3id; activePlayerNumber = 3" class="result-rows-left">{{ group.player3nickname }}</div>
      <div [class.active-player]="isActivePlayer(group.player4id)" *ngIf="group.player4id" style="border-bottom:1px solid lightgray;"
        (click)="activePlayerId = group.player4id; activePlayerNumber = 4" class="result-rows-left">{{ group.player4nickname }}</div>
    </div>
    <div class="col-4 pr-0 pl-0 text-center">
      <div class="col-titles">Score</div>
      <div class="result-rows" *ngIf="group.player1id">
        <button class="score-btns" (click)="changeScore(1, -1)" color="primary" mat-raised-button>-</button>
        <div class="ml-3 mr-3 scores">{{ getHoleScore(holeSelected, 1) }}</div>
        <button class="score-btns" (click)="changeScore(1, 1)" color="primary" mat-raised-button>+</button>
      </div>
      <div class="result-rows" *ngIf="group.player2id">
        <button class="score-btns" (click)="changeScore(2, -1)" color="primary" mat-raised-button>-</button>
        <div class="ml-3 mr-3 scores">{{ getHoleScore(holeSelected, 2) }}</div>
        <button class="score-btns" (click)="changeScore(2, 1)" color="primary" mat-raised-button>+</button>
      </div>
      <div class="result-rows" *ngIf="group.player3id">
        <button class="score-btns" (click)="changeScore(3, -1)" color="primary" mat-raised-button>-</button>
        <div class="ml-3 mr-3 scores">{{ getHoleScore(holeSelected, 3) }}</div>
        <button class="score-btns" (click)="changeScore(3, 1)" color="primary" mat-raised-button>+</button>
      </div>
      <div class="result-rows" *ngIf="group.player4id" style="border-bottom:1px solid lightgray;">
        <button class="score-btns" (click)="changeScore(4, -1)" color="primary" mat-raised-button>-</button>
        <div class="ml-3 mr-3 scores">{{ getHoleScore(holeSelected, 4) }}</div>
        <button class="score-btns" (click)="changeScore(4, 1)" color="primary" mat-raised-button>+</button>
      </div>
    </div>
    <div class="col-4 pl-0 text-center">
      <div class="col-titles">Match</div>
      <div class="result-rows result-text" *ngIf="group.player1id">{{ getMatchResult(1) }}</div>
      <div class="result-rows result-text" *ngIf="group.player2id">{{ getMatchResult(2) }}</div>
      <div class="result-rows result-text" *ngIf="group.player3id">{{ getMatchResult(3) }}</div>
      <div class="result-rows result-text" *ngIf="group.player4id" style="border-bottom:1px solid lightgray;">{{ getMatchResult(4) }}</div>
    </div>
    <div class="ml-2" style="color:#ff8c00;" *ngIf="unsavedChanges === true">* You have unsaved scores</div>

  </div>

  <button class="mx-auto d-block navBtns mt-2 mb-0" (click)="submitScores()" mat-raised-button color="primary">Submit Scores</button>
  <div *ngIf="getPar(holeSelected) === 3" class="mt-2">
    <button class="mx-auto d-block navBtns mt-2 mb-0" (click)="showDoggieDialog(doggieDialog)" mat-raised-button color="primary">Add/Change Doggie Winner</button>
  </div>
  

</div>

<!--dialog to add/update the doggie winner for this hole-->
<ng-template #doggieDialog let-data>
  <h3 mat-dialog-title>Hole #{{ data.winner.hole }} Doggie Winner</h3>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Doggie Winner</mat-label>
      <mat-select [(ngModel)]="data.winner.slammerId">
        <mat-option [value]="reg.slammerId" *ngFor="let reg of registered">
          {{ reg.nickname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Distance</mat-label>
      <input matInput max="999" min="0" type="number" [(ngModel)]="data.winner.distance">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addDoggieWinner(data.winner)" *ngIf="data.type === 'add'">Save</button>
    <button mat-raised-button color="primary" (click)="updateDoggieWinner(data.winner)" *ngIf="data.type === 'update'">Save Changes</button>
    <button mat-raised-button color="primary" style="background-color:red;" (click)="deleteDoggieWinner(data.winner)" *ngIf="data.type === 'update'">Remove</button>
    <button mat-raised-button (click)="close()" color="primary">Cancel</button>
  </mat-dialog-actions>
</ng-template>


