<h3 class="text-center">Quotables & Notables</h3>
<mat-tab-group>
    <mat-tab label="New Quotable">
        <br>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Player</mat-label>
            <mat-select [(value)]="userId" #quotablePlayerSelect>
                <mat-option [value]="reg.slammerId" *ngFor="let reg of registered">{{ reg.nickname ? reg.nickname : reg.fullName }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Text</mat-label>
            <textarea #quotableText matInput cdkTextareaAutosize cdkAutosizeMinRows="8"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="saveQuotable(quotablePlayerSelect.value, quotableText.value, 'quotable')">Save</button>
        <button mat-raised-button class="ml-2" (click)="close()" color="primary">Cancel</button>
        <br>
    </mat-tab>
    <mat-tab label="New Notable">
        <br>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Player</mat-label>
            <mat-select [(value)]="userId" #notablePlayerSelect>
                <mat-option [value]="reg.slammerId" *ngFor="let reg of registered">{{ reg.nickname ? reg.nickname : reg.fullName }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Text</mat-label>
            <textarea #notableText matInput cdkTextareaAutosize cdkAutosizeMinRows="8"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="saveQuotable(notablePlayerSelect.value, notableText.value, 'notable')">Save</button>
        <button mat-raised-button class="ml-2" (click)="close()" color="primary">Cancel</button>
        <br>
    </mat-tab>
</mat-tab-group>
<br>
