.col-titles{
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(92, 88, 88);
}
.result-rows{
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    border-top:1px solid lightgray;
    background-color: #f2f4f7;
}
.result-rows-left{
    display: flex;
    align-items: center;
    height:50px;
    padding-left:10px;
    cursor:pointer;
    border-top:1px solid lightgray;
    background-color: #f2f4f7;
}
.score-btns{
    width:30px!important;
    min-width: unset!important;
    font-size:18px;
    padding-left:4px;
    padding-right:4px;
    padding:0;
}
.scores{
    font-weight: bold;
}
.mat-raised-button{
    background: rgb(115,114,121);
    background: radial-gradient(circle, rgba(115,114,121,1) 0%, rgba(49,49,54,1) 68%, rgba(43,44,47,1) 100%);
    color:white;
    min-width:240px;
}
.teal-text{
    color:#107896;
}
.submit-scores-button {
    background:#107896!important;
}
.par-box{
    font-size: 24px;
    color:white;
    background-color:rgba(49,49,54,1);
    padding:5px;
    padding-left:12px;
    padding-right: 12px;
    padding-bottom:8px;
    border-radius: 6px;;
    border: 2px solid rgba(115,114,121,1);
    width:85px;
    margin: auto;
}