<div class="row">
    <div class="col-4 text-center pl-5">
        <mat-form-field appearance="outline" style="width:100%; max-width:120px; margin: auto;">
            <mat-label>Hole <mat-icon *ngIf="hasPersistedScores() === true" style="color:green;">done</mat-icon></mat-label>
            <mat-select (selectionChange)="onHoleChange()" [(ngModel)]="selectedHole">
                <mat-option [value]="hole" *ngFor="let hole of holes">{{ hole }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-4 mt-1">
        <div class="par-box">{{ 'Par ' + getPar(selectedHole) }}</div>
    </div>
</div>

<div class="row">
    <div class="col-4 pr-0">
        <div class="col-titles">Player</div>
        <div>
            <div *ngFor="let participant of group.groupParticipants" class="result-rows-left">
                <span *ngIf="scoringType === 'individual'" class="teal-text">{{ participant.fullName }}</span>
                <div *ngIf="scoringType === 'team'" class="teal-text full-width">{{ participant.teamMembers[0].fullName }}</div>
                <br>
                <div *ngIf="scoringType === 'team'" class="teal-text full-width">{{ participant.teamMembers[1].fullName }}</div>
            </div>
        </div>
    </div>
    <div class="col-4 pr-0 pl-0 text-center">
        <div class="col-titles">Score</div>
        <div class="result-rows" *ngFor="let participant of group.groupParticipants">
            <button class="score-btns" [disabled]="hasOfficialScores(participant)" (click)="changeScore(participant, -1)" color="primary" mat-raised-button>-</button>
            <div class="ml-3 mr-3 scores">{{ getHoleScore(participant, selectedHole) }}</div>
            <button class="score-btns" [disabled]="hasOfficialScores(participant)" (click)="changeScore(participant, 1)" color="primary" mat-raised-button>+</button>
        </div>
    </div>
    <div class="col-4 pl-0 text-center">
        <div class="col-titles">Total</div>
        <div class="result-rows" *ngFor="let participant of group.groupParticipants">
            <div class="ml-3 mr-3 scores teal-text">{{ getPlayersResult(participant) > 0 ?  '+' + getPlayersResult(participant) : getPlayersResult(participant) }}</div>
        </div>
    </div>
</div>
<button class="mx-auto d-block mt-2 submit-scores-button" (click)="submitGroupScores()" mat-raised-button color="primary">Submit Scores</button>
