.eventBtns{
    min-width:300px;
    margin-top: 15px;
    font-size:20px;
}
.eventBoxes{
    cursor: pointer;
    border:2px solid lightgray;
    border-radius:6px;
    padding:5px;
    position: relative;
}
.dates{
    color:#717885; font-weight: 400;
}
.eventBoxes:hover{
    background: rgb(115,114,121);
    background: radial-gradient(circle, rgba(115,114,121,1) 0%, rgba(49,49,54,1) 68%, rgba(43,44,47,1) 100%);
    color:white;
}
.eventBoxes:hover > .dates{
    color:lightgray!important;
}
.eventBoxes:hover > .qualifying-text {
    border:2px solid lightgray;
    border-radius:6px;
}
.qualifying-text {
    position: absolute;
    top:-9px;
    color:#717885; font-weight: 400;
    background-color:white;
    z-index:2;
    left:50%;
    transform: (translate(-50%));
    padding-left: 10px;
    padding-right: 10px;
    line-height: 16px;
    padding-bottom: 3px;
}